{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Contact  -->
    <section class="contact section-padding">
        <div class="container">
            <div class="row mb-45">
                <div class="col-md-12">
                    <h6>Get in touch</h6>
                    <h1>Contact Details</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-45">
                    {% for aboutme in about_me %}

                    <div class="item">
                        <div class="wrap-block"> <span class="icon et-phone"></span>
                            <div class="text-block">
                                <h5>Phone</h5>
                                <p>+234 &nbsp; {{ aboutme.phone}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="wrap-block"> <span class="icon et-map-pin"></span>
                            <div class="text-block">
                                <h5>Address</h5>
                                <p>{{ aboutme.location}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="wrap-block"> <span class="icon et-notebook"></span>
                            <div class="text-block">
                                <h5>G-Mail</h5>
                                <p>{{ aboutme.email }}</p>
                            </div>
                        </div>
                    </div>
                      
                    {% endfor %}
                    
                </div>
                <div class="col-md-5 offset-md-1">
                    <h5>Get in touch!</h5>
                    <form method="post" class="" >
                        {% csrf_token %}
                        <!-- Form message -->
                        <!-- <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success contact__msg" style="display: none" role="alert"> Your message was sent successfully. </div>
                            </div>
                        </div> -->
                        <!-- Form elements -->
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <!-- <input name="name" type="text" placeholder="Name *" required=""> -->
                                {{ form.name }}
                            </div>
                            <div class="col-md-6 form-group">
                                <!-- <input name="email" type="email" placeholder="Email Address *" required=""> -->
                                {{ form.email}}
                            </div>
                            <div class="col-md-6 form-group">
                                <!-- <input name="phone" type="text" placeholder="Phone *" required=""> -->
                                {{ form.phone }}
                            </div>
                            <div class="col-md-12 form-group">
                                <!-- <input name="subject" type="text" placeholder="Subject *" required=""> -->
                                {{ form.inquiry}}
                            </div>
                            <div class="col-md-12 form-group">
                                <!-- <textarea name="message" id="message" cols="30" rows="4" placeholder="How can we help you? Feel free to get in touch! *" required=""></textarea> -->
                                {{ form.message }}
                            </div>
                            <div class="col-md-12">
                                <div class="btn-wrap">
                                    <div class="btn-link">
                                        <input type="submit" value="Get in touch"> <span class="btn-block color1 animation-bounce"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- {{ form }} -->
                            <!-- <div class="btn-link">
                                <input type="submit" value="Get in touch"> <span class="btn-block color1 animation-bounce"></span>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Maps -->
    <section id="map">
        <div class="full-width">
            <div class="google-map">
                               <!-- <iframsrc="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573147.7480448114!2d-74.84628175962355!3d41.04009641088412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25856139b3d33%3A0xb2739f33610a08ee!2s1616%20Broadway%2C%20New%20York%2C%20NY%2010019%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2str!4v1646760525018!5m2!1str!2str" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
                             <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=brass%20aba%20nigeria&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embedding google map in website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
            </div>
        </div>
    </section>
    <!-- Testiominals -->
    {% include 'pages/testimonia.html' %}
    <!-- Clients -->
    {% include 'pages/client.html' %}
    <!-- Footer -->
  {% endblock content %}