{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Blog -->
<!-- Blog -->
<!-- just added this  -->
<section class="blog section-padding">
    <div class="container">
        <div class="row mb-45">
            <div class="col-md-12">
                <h6 class="wow" data-splitting="">Recent Articles</h6>
                <h1 class="wow" data-splitting="">From Our Blogs</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">

                    {% for blog in blogs  %}
                    <div class="col-md-12">
                        <div class="item">
                            <div class="post-img">
                                <a href="{% url 'blogdetail' blog.slug %}"> <img src="{{ blog.image.url }}" alt=""> </a>
                                <div class="date">
                                    <a href="{% url 'blogdetail' blog.slug %}">
                                        <span>{{ blog.created_at|date:"Y"}}</span> <i>{{ blog.created_at|date:"m"}}</i>
                                    </a>
                                </div>
                            </div>
                            <div class="post-cont">
                                <div class="blog-post-categorydate-wrapper">
                                    <a href="blog.html">
                                        <div>Blog</div>
                                    </a>
                                    <div class="blog-post-categorydate-divider"></div>
                                    <div>{{ blog.category}}</div>
                                </div>
                                <h4><a href="{% url 'blogdetail' blog.slug %}">{{ blog.name}}.</a></h4>
                                <div><a href="{% url 'blogdetail' blog.slug %}"> <button
                                            class="btn btn-outline-secondary">Read More</button></a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% include 'pages/paginator.html' %}
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-md-4">
                <div class="row blog-sidebar">
                    <div class="col-md-12">
                        <div class="widget search">
                            <form action="{% url 'search_results' %}" method="get">
                                <input type="text" name="query" placeholder="Type here ..."
                                    value='{{ request.GET.query }}'>
                                <button type="submit"><i class="ti-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Recent Posts</h5>
                            </div>
                            <ul class="recent">
                                {% for posts in recent_posts %}
                                <li>
                                    <div class="thum"> <img src="{{ posts.image.url}}" alt=""> </div> <a
                                        href="{% url 'blogdetail' posts.slug %}">{{ posts.name }}.</a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Categories</h5>
                            </div>
                            <ul>
                                {% for category in categories %}
                                <li><a href="{% url 'categories' category.id %}"><i
                                            class="ti-angle-right"></i>{{ category.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                    <!-- <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Tags</h5>
                            </div>
                            <ul class="tags">
                                {% for tag in tags.tags.all %}
                                <li> {{ tag.name }} </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testiominals -->
<!-- Testiominals -->
{% include 'pages/testimonia.html' %}
{% include 'pages/client.html' %}
{% endblock content %}